#navlist{
    padding-left: 100px;
}
body{
    background-image: url(https://stringfixer.com/files/676678529.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-custom {
    background-color:  	#7393B3;
}
#colour{
    color: black;
}