#text{
    font-size: 30px;
}
table{
    margin-top: 150px;
}
.card{
    margin-right: 100px;
}
#navlist{
    padding-left: 100px;
}
.navbar-custom {
    background-color:  	#7393B3;
}
#colour{
    color: black;
}