#navlist{
    padding-left: 100px;
}
#head{
    margin-top: 50px;
}
form{
    margin-top: 75px;
    padding-left: 550px;
    font-size: 20px;
}
.navbar-custom {
    background-color:  	#7393B3;
}
#colour{
    color: black;
}